h1{
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(https://images.unsplash.com/photo-1627296153966-183fbd6db1e6?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIyfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  color:#FAD586;
  text-shadow:  0 1px 0 rgba(255, 255, 255, 0.4);
  transition: 1s;
}


h1:hover{
  color:#DA0037;
  border-bottom: 5px solid black;
  cursor: pointer;
  font-family: cursive;
  text-shadow:  0 1px #808d93,
              -1px 0 #cdd2d5,
              -1px 2px #808d93,
              -2px 1px #cdd2d5,
              -2px 3px #808d93,
              -3px 2px #cdd2d5,
              -3px 4px #808d93,
              -4px 3px #cdd2d5,
              -4px 5px #808d93,
              -5px 4px #cdd2d5,
              -5px 6px #808d93,
              -6px 5px #cdd2d5,
              -6px 7px #808d93,
              -7px 6px #cdd2d5,
              -7px 8px #808d93,
              -8px 7px #cdd2d5;
}

.button{
  background-color: black;
  display: flex;
  justify-content:center;
  align-items:center;
  font-family: areial;
  height:75vh;
  border: 2px solid black;
}


button{
  border: 4px solid grey;
  font-size: 45px;
  color:red;
  font-weight: bolder;
}

button:hover{
  transition: 2s;
  border:4px solid green;
  cursor: pointer;
  border-radius: 20%;
  color:#39A2DB;
  box-shadow: 0 0 5px 5px red;
}
.bottom{
  margin-top: 10px;
  height: 35px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  color: grey;
}
